@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import "tailwindcss";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source "../../../../vendor/relaticle/flowforge/resources/views*.blade.php";

@theme {
  --font-sans:
    "Poppins", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand: var(--color-blue-800);
  --color-surface: var(--color-gray-50);
  --radius-oxbridge: 0px;
}
